{{define "views/home"}}
{{template "layout/baseTop" .}}

<div class="p-4">
  <h1 class="text-gray-50 text-3xl">
    Welcome to the 
    <span class="text-lime-800">6</span><span class="text-red-600">6</span>
    card game
  </h1>

  <button type="submit" class="my-10 w-full rounded-md bg-indigo-500 px-3 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
    Create a new game
  </button>


  <form>
    <div class="col-span-full">
      <label for="websocket-id" class="block text-sm font-medium leading-6 text-white">Websocket ID</label>
      <div class="mt-2">
        <input type="text" name="websocket-id" id="websocket-id" autocomplete="" class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 px-2">
      </div>
    </div>
    <div class="col-span-full">
      <label for="password" class="block text-sm font-medium leading-6 text-white">Password (optional)</label>
      <div class="mt-2">
        <input type="password" name="password" id="password" autocomplete="" class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 px-2">
      </div>
    </div>

    <button type="submit" class="mt-4 w-full rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
      Submit
    </button>

  </form>
</div>

{{template "layout/baseBot" .}}
{{end}}
