<!DOCTYPE html>
<html>

<body>
  <h1>Hello {{index . "name"}}</h1>
  <!-- <div x-data={name: "test" }> -->
  <!--   <span x-text={name}></span> -->
  <!-- </div> -->
  <p>
    {{ with $x := index . "reverse" }}
    {{ call $x "foobar" }} &lt;-- this will call the $x with parameter "foobar"
    {{ end }}
  </p>

  <!-- <script type="module" src="/assets/js/main.compiled.js"></script> -->

  <!-- if development -->
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <!-- <script type="module" src="http://localhost:5173/main.js"></script> -->
  <script type="module" src="http://localhost:5173/main.js"></script>
</body>

</html>
