{{define "layout/baseTop"}}
<!Doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="bg-gray-900 min-h-screen min-w-screen w-full max-w-screen-xl mx-auto">
{{end}}

{{define "layout/baseBot"}}
  <!-- only for dev -->
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/assets/js/main.ts"></script>
</body>
</html>
{{end}}
